<div class="d-flex flex-row-reverse">
				<button href="{{ path("security.logout") }}" class="btn btn-danger d-flex">Se déconnecter</button>
			</div>
			<nav class="navbar d-flex justify-content-between">
				<img src="" alt="LOGO" class="bg-success">
				<div class="bg-success">
					<p class="text-center">tel:0101010101</p>
					<p>De Lundi à Vendredi de 9 h à 18h</p>
				</div>
			</nav>


			<table class="table table-hover mt-4">
				<thead>
					<tr>
						<th scope="col">PRESENTATION</th>
						<th scope="col">PROFESSIONNELS</th>
						<th scope="col">PARTICULIERS</th>
						<th scope="col">BLOG</th>
						<th scope="col">PARTENAIRE</th>
					</tr>
				</thead>
			</table>